-difference ||= 0
- if difference >= 20
  %span{class: "bg-red-400 px-1 py-0 rounded text-white"}= difference
-elsif difference >= 15
  %span{class: "bg-yellow-400 px-1 py-0 rounded text-white"}= difference
-elsif difference >= 10
  %span{class: "bg-blue-400 px-1 py-0 rounded text-white"}= difference
-elsif difference >= 5
  %span{class: "bg-green-400 px-1 py-0 rounded text-white"}= difference
-else
  %span{class: "bg-gray-400 px-1 py-0 rounded text-white"}= difference
